# Ch02. Variable

- 두 개 이상의 변수에 동시에 값 지정 가능

In [1]:
two = deux = dos = 2 # 할당되는 순서는 마지막에서 부터
two

2

In [5]:
two = 4 
print(two, deux) # int는 불변객체이므로 바뀌지 않음

4 2

In [7]:
id(two), id(deux) # id도 다름

(1640852777360, 1640852777296)

In [9]:
p = [1, 2, 3]
q = p
p, q

([1, 2, 3], [1, 2, 3])

In [13]:
p[0] = 9 # 리스트는 가변객체이므로 바뀜, 아이디도 동일
p, q

([9, 2, 3], [9, 2, 3])

## 자료형 변환, 형 변환
- str(변환할 값), int(), float(), bool()

In [14]:
a = 10

In [15]:
# str
str(a)

'10'

In [16]:
# float
float(a)

10.0

In [18]:
#bool
bool(a) # 어떤 값이 false인지 알기

True

- 주의할 점1 : float -> int

In [19]:
x = 10.7 
int(x) # 소수점 아래는 사라짐

10

In [20]:
y = 19.8

print(int(x + y))
print(int(x) + int(y)) #하면 값이 다르게 나오니 주의

30
29

- 주의할 점2 : str -> int/float

In [22]:
i = '10'
int(i), float(i)

(10, 10.0)

In [24]:
j = '10.7'
int(j) # int와 맞지 않는 str을 바꾸려고 하면 에러남

ValueError: invalid literal for int() with base 10: '10.7'

## 꿀팁 print()

In [27]:
dog = 'dog'
cat = 'cat'
lion = 'lion'

print(dog + cat + lion) # space X, \n
print(dog, cat, lion) # space O, \n

dogcatlion
dog cat lion

In [30]:
print(dog, cat, lion, sep=' ', end='\n') # default 값 
print(dog, cat, lion, sep='/', end='\n\n')

dog cat lion
dog/cat/lion

In [34]:
# 문자열이랑 변수 출력
#1. 
print('My favorite animal is', dog)
#2.
print(f'My favorite animal is {dog}.')

My favorite animal is dog
My favorite animal is dog.

- 코드 줄이 짧을 때 ;을 이용해 한 줄로 쓸 수 있다

In [35]:
dog = 'dog'; cat = 'cat'; lion = 'lion'
print(dog, cat, lion)

dog cat lion

## input() 함수
- console에서 사용자가 입력하는 값을 받을 수 있는 함수
- 입력받은 값은 문자열(str)으로 인식
- 입력받은 값을 변수에 담아서 사용, 그렇지 않으면 사라짐
- 숫자가 필요할 경우, 형 변환을 해준다

In [36]:
int(input('나이?'))

나이? 22

22

- 입력받은 값을 변수에 할당하는 방법

In [38]:
#1. 
age = input('나이?')

나이? 22

In [39]:
age

'22'

In [41]:
#2.
print('나이?')
age = input()

나이?

 22

In [42]:
age

'22'

## Quiz 1
- 섭씨를 입력 받아서 화씨로 변환하기
- 섭씨 * 1.8 + 32 = 화씨

In [44]:
celsius = float(input('섭씨 온도 입력 : '))
fahrenheit = celsius * 1.8 + 32
print(f'화씨 온도는 {fahrenheit}도 입니다.')

섭씨 온도 입력 :  18.6

화씨 온도는 65.48도 입니다.

## Quiz 2
- 택배 정보 입력 받고, 총 합계 계산하기
- 출력값:
    - '==택배정보=='
    - 수취인 성명:<이름>
    - 수취인 주소:<주소>
    - 배송비:3000원
    - 물건비용:<가격>원
    - 총 합계:<가격>원
- 물건 비용 = 무게(g) * 5
- 합계 = 배송비 + 물건비용

In [47]:
print('==택배 정보==')

name = input('이름:')
address = input('주소:')
weight = float(input('물건의 무게:'))

deliveryFee = 3000
cost = weight * 5
total = deliveryFee + cost

print(f'물건 비용: {cost}원')
print(f'합계: {total}원')

==택배 정보==

이름: 박유진
주소: 서울
물건의 무게: 800

물건 비용: 4000.0원
합계: 7000.0원

# Ch03. Numbers

### boolean
- 형 변활할 때 True, False인지 기억하기
- False인 경우 : ' ', None, 0...
- 조건식에서 많이 사용 ex) 만약 이 조건이 True라면..

In [48]:
bool(1)

True

In [49]:
bool()

False

### integer
- 소수점 없음
- default 양수, 음수일 경우 앞에 -붇이기
- 숫자 앞에는 0을 붙일 수 없음
    - 예외) 0bxxx -> 다른 진수 표현법 
    - 우리는 10진수만 사용
- 리터럴 : 4
- 공백은 무시가 된다
- 10,000원 -> 10, 000 두 개로 인식 -> _사용 10_000

In [50]:
a = -9
8 + a

-1

In [51]:
a = 10_000
a

10000

### 연산
- 연산자|operator : +, -..
- 피연산자|operand : 4, 86..
- 수식|expression

In [52]:
x = 4
y = 9

x + y, x - y, x * y, x / y, x ** y # 거듭제곱|exponential

(13, -5, 36, 0.4444444444444444, 262144)

- 나눗셈 주의사항
    - 0으로 나눌 수 없다 (y!=0)
    - 몫 //, 나머지 %

In [53]:
x // y, x % y

(0, 4)

In [54]:
# 몫과 나머지 출력
divmod(x, y)

(0, 4)

### 복합 대입연산자|compound assignment operator

In [56]:
a = 5
a - 3
a # 불변객체

5

In [59]:
a = a - 3
#세 가지 스텝을 거침
#1. a - 3 계산
#2. 임시변수 temp = a - 3
#3. a = a - 3

# 줄여서 사용 -> 복합대입연산자
a -= 3
a += 3
a *= 3
a /= 3

In [61]:
u = u + 1 # u라는 값을 초기화 하지 않았기 때문에 오류, 값 초기화 할 것!

NameError: name 'u' is not defined

## Quiz1.
- 정수를 입력 받고 3의 배수인지 확인
- " 홀수인지 확인

In [2]:
number = int(input('정수 입력:'))
number % 3 == 0

정수 입력: 7

False

In [4]:
number % 2 == 1

True

### 지수표현
- e, E 둘 다 가능
- 앞부분은 float, int가 올 수 있음
- 뒷부분은 int만 가능
    - 뒷부분이 양수면 소수점이 뒤로
    - 음수면 소수점이 앞으로

In [9]:
7.89e-4 #0.000789 지수표현

0.000789

# Ch04. 조건문, if

## 코드 짜는 룰
- 주석 다는 법
    - 설명하는 부분
    - 목적 : 의도표현, 의사소통을 위해
    - '#' hash/sharp 기호 사용
    - 시작된 부분부터 그 라인 끝까지가 주석처리
    - 문자열 안에 들어있는 #는 문자열로 인식
    - 주석을 길게 달고 싶을 경우, """주석"""(작은 따옴표도 가능) 사용
- 라인 유지하기
    - 들여쓰기, 공백 4개, 탭 1개
    - 한 줄에 최대 80자 넘지 않게 작성, 만약 넘는다면 \로 끊기

In [16]:
a = 3 # 여기서부터 주석 처리

In [23]:
ex = 'hey ##' 
ex

'hey ##'

- 조건 1개 (if와 조건식 사이 space/조건식과 :사이 띄지 않기)

    if <조건식>:
        <실행코드>

In [25]:
if 4 != 9: # 조건이 맞으므로 코드 실행됨
    print('Yaay!')

Yaay!

- 조건 2개

    if <조건식1>:
        <실행코드1>
    else:
        <실행코드2>

In [26]:
if 4 == 9: 
    print('Yaay!')
else:
    print('Hey!')

Hey!

- 조건 3개 이상

    if <조건식1>:
        <실행코드1>
    elif <조건식2>:
        <실행코드2>
    ....여러 elif
    
    else:
        <실행코드3>

## 비교연산자
- x < y, x <= y
- x > y, x >= y
- x == y (값이 같은 것)
- x != y (값이 다른 것
- x is y (값, 메모리주소 같은 것)
- x is not y (값, 메모리주소 다른 것)

## Quiz1.
- 학점 부여하기
- 학점을 입력받아서
    - 90점 이상 A
    - 80 B
    - 70 C
    - 그 외 D
- 변수 설정 유의

In [34]:
score = float(input('점수 입력:'))

if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
else:
    grade = 'D'
    
print(f'{score}점으로 학점은 {grade}입니다.')

점수 입력: 79.8

79.8점으로 학점은 C입니다.

## Quiz2.
- 아이디와 비번을 입력 받아, 둘 다 일치하면 로그인
- 아이디, 비번 각자 정해놓기
- 일치하지 않을 경우 각자 알아서 반환

In [40]:
inputId = input('아이디:')
password = input('비밀번호:')

if inputId == '유진' and password == '1234':
    print('로그인하였습니다.')
else:
    print('아이디와 비밀번호가 일치하지 않습니다.')

아이디: 유진
비밀번호: 1234

로그인하였습니다.

## 논리연산자
- 여러 조건식을 비교할 때 사용
- ex) 10 < x <20
    - 파이썬에서만 가능한 표현
    - x > 10 혹은 x < 20
- and, & : 둘 다 참일 때 True
- or, | : 둘 중 하나만 참이어도 True
- not : 참 -> False / 거짓 -> True

## Quiz3.
- quiz 1 확장판
- 결석 횟수를 받아서 점수가 80점 이상인데 결석이 2번 이상이면 F, 나머지는 점수대로

In [45]:
# 논리연산자 사용

score = float(input('점수 입력:'))
absence = int(input('결석 횟수 입력:'))
              
if score >= 90 and absence < 2:
    grade = 'A'
elif score >= 80 and absence < 2:
    grade = 'B'
elif score >= 70 and absence < 2:
    grade = 'C'
elif absence < 2:
    grade = 'D'
else:
    grade = 'F'
    
print(f'{score}점, 결석 횟수 {absence}회, 학점은 {grade}입니다.')

점수 입력: 90.3
결석 횟수 입력: 2

90.3점, 결석 횟수 2회, 학점은 F입니다.

In [46]:
# if구조 2번

score = float(input('점수 입력:'))
absence = int(input('결석 횟수 입력:'))

if absence >= 2:
    grade = 'F'
else:
    if score >= 90:
        grade = 'A'
    elif score >= 80:
        grade = 'B'
    elif score >= 70:
        grade = 'C'
    else:
        grade = 'D'

print(f'{score}점, 결석 횟수 {absence}회, 학점은 {grade}입니다.')

점수 입력: 80
결석 횟수 입력: 3

80.0점, 결석 횟수 3회, 학점은 F입니다.