# Dictionary
- 영어 사전처럼 <단어 : 뜻> => **<키 : 값>**
- 순서가 없다 => 인덱싱 불가능!
- **"키로 값을 찾는다."**
- 키는 중복되지 않는 고유한 값
- 가변: 수정, 삭제, 추가 등 가능
- 타입: dict
- 형변환: dict()
- 중괄호 사용 {}, 콤마로 구분
- 값에 다양한 자료구조가 올 수 있음  
(a:1, a:[1, 2, 3, 4])

In [10]:
# 빈 딕셔너리 선언하는 방법
empty = dict()
empty = {}

# set과 헷갈리지 말기
empty_set = set()
type(empty_set)

set

In [11]:
# 값이 있는 딕셔너리 선언하는 방법
a = {1, 2, 3} # set은 값만 존재
b = {1:'apple', 2:'banana', 3:'kiwi'} # dict는 키 : 값
a, b

({1, 2, 3}, {1: 'apple', 2: 'banana', 3: 'kiwi'})

In [12]:
# dict 키 값의 따옴표를 생략하여 선언하는 방법
b = dict(apple='a', banana='b', kiwi='c')
b

{'apple': 'a', 'banana': 'b', 'kiwi': 'c'}

## 실습 (1)
**<출석부로 딕셔너리 만들기>**  
- 이름, 학번, 학과
- james 202201 경제학과
- laura 202203 스페인어과
- louis 202202 컴공과

In [2]:
# 키 값이 중복이 없어야 하기 때문에 학번이 적절!
# value에는 다양한 자료구조를 넣을 수 있음!
{202201:['james', '경제학과'], 202203:['laura', '스페인어과'], 202202:['louis', '컴공과']}

{202201: ['james', '경제학과'],
 202203: ['laura', '스페인어과'],
 202202: ['louis', '컴공과']}

---

## 1. 형변환
- 페어가 있을 때 가능

In [4]:
# 리스트인 경우
ex1 = [[1, 2], [2, 3], [3, 4]]
dict(ex1)

{1: 2, 2: 3, 3: 4}

In [6]:
# 튜플인 경우
ex1 = [(1, 2), (2, 3), (3, 4)]
dict(ex1)

{1: 2, 2: 3, 3: 4}

In [7]:
# 키 값의 중복이 있을 경우 마지막 값이 온다. 
ex2 = [[1, 2], [2, 3], [1, 3]]
dict(ex2)

{1: 3, 2: 3}

In [9]:
# 문자열인 경우(딱 두 개만 가능, 세 자리가 올 경우 error!)
ex3 = ['ab', 'bc', 'cd']
dict(ex3)

{'a': 'b', 'b': 'c', 'c': 'd'}

---

## 2. 항목 조회, 변경

In [10]:
# 성:이름 딕셔너리
pythons = { 
    'Chapman': 'Graham',
    'Cleese': 'john',
    'Idle': 'Eric',
    'Jones': 'Terry',
    'Palin':'Michael',
}

In [18]:
# 값을 찾는 방법(키로 값을 찾음)
# 없는 키를 넣으면 오류 발생
pythons['Idle']

'James'

In [15]:
# 키 값을 변경하는 방법
pythons['Idle'] = 'James'
pythons['Idle']

'James'

In [16]:
# 키 값을 추가하는 방법(없는 것을)
pythons['Hwa'] = 'Chloe'
pythons

{'Chapman': 'Graham',
 'Cleese': 'john',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe'}

In [19]:
# 오류가 안 생기게 하는 방법
# 1. in
'Hwa' in pythons

True

In [23]:
# 2-1. get 함수
pythons.get('Lee') # 없으면 None을 반환

None

In [25]:
# 2-2. get 함수 원하는 반환값도 설정 가능
pythons.get('Lee', 0)

0

### 전체 조회
- keys()
- values()
- items()
- **리스트로 사용하고 싶다면 형변환을 해줘야 한다. list()**

In [31]:
# keys() : 키만 반환
list(pythons.keys())

['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa']

In [29]:
# values() : value만 반환
pythons.values()

dict_values(['Graham', 'john', 'James', 'Terry', 'Michael', 'Chloe'])

In [30]:
# items() : key와 value 반환
# (키, 값)인 튜플의 형태로 반환 => 순회 할 때 많이 사용
pythons.items()

dict_items([('Chapman', 'Graham'), ('Cleese', 'john'), ('Idle', 'James'), ('Jones', 'Terry'), ('Palin', 'Michael'), ('Hwa', 'Chloe')])

In [32]:
# items 순회
# 원하는 방식으로 출력가능
for k, v, in pythons.items():
    print(f'{k} = {v}')

Chapman = Graham
Cleese = john
Idle = James
Jones = Terry
Palin = Michael
Hwa = Chloe

In [33]:
# items 리스트 컴프리헨션
[(k, v) for k, v in pythons.items()]

[('Chapman', 'Graham'),
 ('Cleese', 'john'),
 ('Idle', 'James'),
 ('Jones', 'Terry'),
 ('Palin', 'Michael'),
 ('Hwa', 'Chloe')]

In [36]:
[k for k in pythons.items()]

[('Chapman', 'Graham'),
 ('Cleese', 'john'),
 ('Idle', 'James'),
 ('Jones', 'Terry'),
 ('Palin', 'Michael'),
 ('Hwa', 'Chloe')]

In [37]:
# items()는 튜플의 형태로 들어있기 때문에 인덱스로 접근 가능
# 0은 key 값, 1은 value 값
[k[0] for k in pythons.items()]

['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa']

In [38]:
# items() 없이 돌면 key만 출력
[k for k in pythons]

['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa']

---

## 실습 (2)
**<animal: num_leg 딕셔너리 만들기>**

In [39]:
animal = 'cat snake monkey ant spider'.split()
legs = 4, 0, 2, 4, 8

In [42]:
# 1. 리스트컴프리헨션 후 dict로 형변환
dict([(key, value) for key, value in zip(animal, legs)])

# 2-1. 빈 dict 만든 후 for문으로 추가
animal_legs = {}
for i in range(len(animal)):
    animal_legs[i] = legs[i] 
animal_legs

# 2-2.
animal_legs = {}
for k, v in zip(animal, legs):
    animal_legs[k] = v 
animal_legs

# 3. 딕셔너리 컴프리헨션
{key:value for key, value in zip(animal, legs)}

{'cat': 4, 'snake': 0, 'monkey': 2, 'ant': 4, 'spider': 8}
{'cat': 4, 'snake': 0, 'monkey': 2, 'ant': 4, 'spider': 8}
{'cat': 4, 'snake': 0, 'monkey': 2, 'ant': 4, 'spider': 8}

**<pythons에서 (성 첫글자, 글자 개수)의 튜플로 이루어진 리스트로 만들어 반환>**

In [44]:
pythons.items()

dict_items([('Chapman', 'Graham'), ('Cleese', 'john'), ('Idle', 'James'), ('Jones', 'Terry'), ('Palin', 'Michael'), ('Hwa', 'Chloe')])

In [45]:
# 1.
[(k[0], len(v)) for k, v in pythons.items()]

[('C', 6), ('C', 4), ('I', 5), ('J', 5), ('P', 7), ('H', 5)]

In [46]:
# 2.
[(k[0][0], len(k[1]))for k in pythons.items()]

[('C', 6), ('C', 4), ('I', 5), ('J', 5), ('P', 7), ('H', 5)]

---

## 3. 병합, 삭제, 복제, 비교

### (1) 병합

In [47]:
pythons

{'Chapman': 'Graham',
 'Cleese': 'john',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe'}

In [48]:
others = {
    'Marx': 'Groucho',
    'Howard': 'Moe'
}
others

{'Marx': 'Groucho', 'Howard': 'Moe'}

In [50]:
# update(): 딕셔너리 병합
# pythons와 others를 병합하는 방법
pythons.update(others)
pythons

{'Chapman': 'Graham',
 'Cleese': 'john',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe',
 'Marx': 'Groucho',
 'Howard': 'Moe'}

In [52]:
# {**, **}: 파이썬에서만 가능한 딕셔너리 병합
{**others, **pythons} # 순서대로 나옴

{'Marx': 'Groucho',
 'Howard': 'Moe',
 'Chapman': 'Graham',
 'Cleese': 'john',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe'}

### (2) 삭제

In [53]:
# del []: 삭제
# 없는 것을 삭제할 경우 오류
del pythons['Hwa']
pythons

{'Chapman': 'Graham',
 'Cleese': 'john',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Marx': 'Groucho',
 'Howard': 'Moe'}

In [59]:
# pop(): 삭제
# 키에 대한 값을 반환한 뒤 삭제됨
pythons.pop('Marx')

'Groucho'

In [61]:
# pop(): 없는 값인 경우 반환값을 지정해줘야 오류 없음
pythons.pop('Lee', 0)

0

In [62]:
# clear(): 전체 삭제
pythons.clear()

In [63]:
# 빈 딕셔너리 선언: 전체 삭제
pythons = {}

### (3) 복제
- 리스트와 같음
1. 할당: b = a
2. 얕은 복사: c = a.copy() 
3. 깊은 복사: import copy, copy.deepcopy()

In [67]:
# 1. 할당
# 특징(문제점): a와 b는 같은 주소를 가지고 있기 때문에 같이 변한다.
a = {1:1, 2:2, 3:3}
b = a
a[1] = 45
a, b

({1: 45, 2: 2, 3: 3}, {1: 45, 2: 2, 3: 3})

In [70]:
# 2. 얕은 복사
# 특징: a의 값을 바꿨을 때, c의 값은 변하지 않는다.  
c = a.copy()
a[2] = 22
print(a, c)

# 문제점: 바뀐 값이 2차원 가변 객체일 경우에는 변한다.
a = {1:[1, 2, 3], 2:[2, 3, 4]}
d = a.copy()
a[1][0] = 100
print(a, d)

{1: 45, 2: 22, 3: 3} {1: 45, 2: 22, 3: 3}
{1: [100, 2, 3], 2: [2, 3, 4]} {1: [100, 2, 3], 2: [2, 3, 4]}

In [72]:
# 3. 깊은 복사 
# 특징: 바뀐 값이 2차원 가변객체여도 변하지 않는다. 
import copy

e = copy.deepcopy(a)
a[1][1] = 999
a, e

({1: [100, 999, 3], 2: [2, 3, 4]}, {1: [100, 999, 3], 2: [2, 3, 4]})

### (4) 비교
- 같다, 다르다만 된다.
- 크기 비교 불가능
- **비교할 일이 없다.**

In [73]:
a != b

True

In [74]:
a == b

False

---

## 실습 (3)
**<두 리스트를 하나의 딕셔너리로 생성>**
1. 명왕성 = pluto 추가하기
2. '성'으로 끝나지 않는 키 삭제하기 
3. sorted를 이용해서 값 정렬하기

In [2]:
solar_kor = '태양 수성 금성 지구 화성 목성 토성 천왕성 혜왕성'.split()
solar_eng = 'sun mercury venus earth mars jupiter saturn uranus neptune'.split()

In [3]:
# (1) range
planet = {}
for i in range(len(solar_kor)):
    planet[solar_kor[i]] = solar_eng[i]
planet 

# (2) zip 
planet = {}
for k, v in zip(solar_kor, solar_eng):
     planet[k] = v
planet

{'태양': 'sun',
 '수성': 'mercury',
 '금성': 'venus',
 '지구': 'earth',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '혜왕성': 'neptune'}

In [4]:
# 1. 명왕성 = pluto 추가하기
planet['명왕성'] = 'pluto'
planet

{'태양': 'sun',
 '수성': 'mercury',
 '금성': 'venus',
 '지구': 'earth',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '혜왕성': 'neptune',
 '명왕성': 'pluto'}

In [5]:
# 2. '성'으로 끝나지 않는 키 삭제하기
# (1) for문
for key in list(planet):
    if not key.endswith('성'):
        del planet[key]
        
# (2) 리스트 컴프리헨션 후 dict 형 변환
dict([(k, v) for k, v in planet.items() if k.endswith('성')])
dict([(k, planet[k]) for k in planet if k.endswith('성')])

# (3) 딕셔너리 컴프리헨션
{k: v for k, v in planet.items() if k.endswith('성')}

{'수성': 'mercury',
 '금성': 'venus',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '혜왕성': 'neptune',
 '명왕성': 'pluto'}

In [92]:
# 3. sorted를 이용해서 값 정렬하기

# key 기준
sorted(planet.keys())

# value 기준
sorted(planet.values())

['금성', '명왕성', '목성', '수성', '천왕성', '토성', '혜왕성', '화성']
['jupiter', 'mars', 'mercury', 'neptune', 'pluto', 'saturn', 'uranus', 'venus']

---

## 4. 딕셔너리 컴프리핸션 
- 리스트 컴프리헨션한 뒤 dict 형변환하는 것이 비효율적
- 그래서 쓰는 것이 딕셔너리 컴프리헨션

In [39]:
letter = 'apple'
{ch: letter.count(ch) for ch in letter}

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

In [11]:
# 단어의 모음세기
vowels = 'aeiou'
word = 'onomatopoeia'

# vowels 순회
{v: word.count(v) for v in set(vowels) if v in word}

# word 순회
{w: word.count(w) for w in set(word) if w in vowels}

{'i': 1, 'o': 4, 'a': 2, 'e': 1}
{'i': 1, 'o': 4, 'a': 2, 'e': 1}

---

## 5. sorting

In [12]:
# sorted(): 키만 나옴
sorted(planet)

['금성', '명왕성', '목성', '수성', '천왕성', '토성', '혜왕성', '화성']

In [13]:
# sorted(.items()): 둘 다 나옴
sorted(planet.items())

[('금성', 'venus'),
 ('명왕성', 'pluto'),
 ('목성', 'jupiter'),
 ('수성', 'mercury'),
 ('천왕성', 'uranus'),
 ('토성', 'saturn'),
 ('혜왕성', 'neptune'),
 ('화성', 'mars')]

In [15]:
def fx(x):
    return x[0]
# 나만의 함수를 정의하여 사용한다.
# 0은 key 기준, 1은 value 기준으로 정렬

sorted(planet.items(), key=fx)

[('금성', 'venus'),
 ('명왕성', 'pluto'),
 ('목성', 'jupiter'),
 ('수성', 'mercury'),
 ('천왕성', 'uranus'),
 ('토성', 'saturn'),
 ('혜왕성', 'neptune'),
 ('화성', 'mars')]

In [16]:
# 익명함수 lambda
# 함수에서 이름 짓는 부분, 예약어를 빼고 익명으로 함수를 구현
# x가 들어왔을 때 x의 1번째를 기준으로 해라
sorted(planet.items(), key=lambda x: x[1])

[('목성', 'jupiter'),
 ('화성', 'mars'),
 ('수성', 'mercury'),
 ('혜왕성', 'neptune'),
 ('명왕성', 'pluto'),
 ('토성', 'saturn'),
 ('천왕성', 'uranus'),
 ('금성', 'venus')]

---
---

# Set
- 딕셔너리에서 키만 가지고 있는 형태
- **"중복이 없다"**
- **집합**과 동일한 개념 => 교집합, 합집합, 차집합, ...
- bag(순서도 중복도 없는 것), 인덱싱도 없다

In [17]:
# 빈 set 만드는 방법: set()
empty = set()
empty

set()

In [18]:
# 값이 있는 set 만드는 방법: {}
a = {1, 2, 3}
a

{1, 2, 3}

In [21]:
# 값이 있는 set 만드는 방법: set(()), set([])
# 선언 = 형변환 방법 동일
a = set((1, 2, 3)) 
a
# 시퀀스이기 때문에 튜플이나 리스트로 묶어주고 넣어야 한다.
# a = set(1, 2, 3)로 하면 오류 발생

{1, 2, 3}

In [22]:
# 추가: .add()
a.add(4)
a

{1, 2, 3, 4}

In [23]:
# 삭제: .remove()
a.remove(4)
a

{1, 2, 3}

---

## 실습
1. 보드카가 포함된 술 출력하기
2. 보드카는 있지만 cream, vermouth가 없는 술 출력하기

In [25]:
drinks = {
    'martini': {'vodka', 'vermouth'},
    'black russian': {'vodka', 'kahlua'},
    'white russian': {'cream', 'kahlua', 'vodka'},
    'manhattan': {'rye', 'vermouth', 'bitters'},
    'screwdriver': {'orange juice', 'vodka'}
}

In [26]:
# 1. 보드카가 포함된 술 출력하기
for k, v in drinks.items():
    if 'vodka' in v:
        print(k)

martini
black russian
white russian
screwdriver

In [31]:
# 2-1. 보드카는 있지만 cream, vermouth가 없는 술 출력하기
for k, v in drinks.items():
    if 'vodka' in v and not ('cream' in v or 'vermouth' in v):
            print(k)

black russian
screwdriver

---

In [32]:
a = {1, 2, 3}
b = {2, 3, 4}

In [33]:
# 교집합 | intersection
a.intersection(b)
a & b

{2, 3}

In [78]:
# 합집합 | union
a.union(b)
a | b

{1, 2, 3, 4}

In [34]:
# 차집합 | differenceㄱ
# 방향이 존재!
a.difference(b)
a - b, b - a

({1}, {4})

In [35]:
# 2-2. set의 교집합을 이용하여, 보드카는 있지만 cream, vermouth가 없는 술 출력하기
for k, v in drinks.items():
    if 'vodka' in v and not v & {'cream', 'vermouth'}:
            print(k)

black russian
screwdriver

In [36]:
# set comprehension
{s for s in range(5)}

{0, 1, 2, 3, 4}

In [37]:
# frozenset | 가변 객체를 불변 객체로 만들어 주는 것
set([1, 2])
frozenset([1, 2])

frozenset({1, 2})

---
---

# Project
- 테스크 해결
- 수업 30분 동안 랜덤 코드 설명
- 수요일 자정까지 제출

In [39]:
# 코드 오류 찾고, 점수를 알려줌
!pip install pylint
!pylint example.py

Requirement already satisfied: pylint in c:\programdata\anaconda3\lib\site-packages (2.9.6)
Requirement already satisfied: mccabe<0.7,>=0.6 in c:\programdata\anaconda3\lib\site-packages (from pylint) (0.6.1)
Requirement already satisfied: isort<6,>=4.2.5 in c:\programdata\anaconda3\lib\site-packages (from pylint) (5.9.3)
Requirement already satisfied: astroid<2.7,>=2.6.5 in c:\programdata\anaconda3\lib\site-packages (from pylint) (2.6.6)
Requirement already satisfied: toml>=0.7.1 in c:\programdata\anaconda3\lib\site-packages (from pylint) (0.10.2)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from pylint) (0.4.4)
Requirement already satisfied: setuptools>=20.0 in c:\programdata\anaconda3\lib\site-packages (from astroid<2.7,>=2.6.5->pylint) (58.0.4)
Requirement already satisfied: wrapt<1.13,>=1.11 in c:\programdata\anaconda3\lib\site-packages (from astroid<2.7,>=2.6.5->pylint) (1.12.1)
Requirement already satisfied: lazy-object-proxy>=1.4.0 in c:\programdata\anaconda3\lib\site-packages (from astroid<2.7,>=2.6.5->pylint) (1.6.0)
************* Module example.py
example.py:1:0: F0001: No module named example.py (fatal)

In [ ]:
# 독스트링 점수
!pip install pydocstyle
!pydocstyle example.py